<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">

<title>Show Clients</title>
</head>
<body>

	<!-- theDate comes from the theModel.addAttribure of DemoController -->

	
	
	
		<div class="container py-5 bg-light "   style="margin-top:200px;">
		
		<div class="form-outline mb-3"
				style="display: inline-block; margin-left: 32%;">	
	<h1>Show  clients</h1>
	
	
	
	
<table border="1">




<thead>
<th>First name</th>
<th>Last name</th>
<th>Email</th>
<th>Action</th>



</thead>

<tbody>

<tr th:each="tempClients: ${clients}">
	<td th:text="${tempClients.firstName}"/>
	<td th:text="${tempClients.lastName}"/>
	<td th:text="${tempClients.email}"/>
	<td ><a th:href="@{/updateClient(xxx=${tempClients.id})}" class="btn btn-primary btn-sm ">Update</a></td>
	<td ><a th:href="@{/deleteClient(yyy=${tempClients.id})}" class="btn btn-warning btn-sm ">Delete</a></td>
	
</tr>

</tbody>




</table>

	
	
	
		</div>
	
	
	
	
	
	
	
	
	

		</div>









</body>





</html>