<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title> Save Direction</title>
</head>
<body>

<!-- theDate comes from the theModel.addAttribure of DemoController -->
  <form  th:action="@{/savedirec}" th:object="${direction}" method="POST">
  
  <input type="text" th:field="*{firstName}"  placeholder="First name" >
<input type="text" th:field="*{lastName}"  placeholder="Last name" >
<input type="text" th:field="*{email}"  placeholder="Email" >
<input type="text" th:field="*{position}"  placeholder="Position" >

<button type="submit">Save</button>

</form>





</body>





</html>